.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, button {
    padding: 0.6rem;
    border-radius: 0.4rem;
}

input {
    border-width: 0.01px;
}

.form-item:nth-child(1), .form-item:nth-child(2), .expiry-cvc-item {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.form-item:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 1rem;
}

.expiry-cvc-item:nth-child(1) .input-expiry {
    display: flex;
    gap: 5%;
}

.input-expiry input {
    width: 45%;
}

button {
    background-color: hsl(278, 68%, 11%);
    color: white;
    border: none;
}