body {
  background-image: url(./assets/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 30% 100vh;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

@media (max-width:850px) {
  body {
      background-image: url(./assets/images/bg-main-mobile.png);
      background-repeat: no-repeat;
      background-size: 100vw 30vh;
      margin: 0;
      height: fit-content;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 8rem;
  }
}
